version: "3.9"
services:
  redis:
    image: redis:7
    container_name: lab4-redis
    ports:
      - "6379:6379"
  app:
    build: .
    container_name: lab4-app
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - redis
    volumes:
      - .:/app
      - /app/node_modules
